<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>渣渣乐计算器</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        function KPIlis(value, row, index) {
            return '<a id="update' + index + '" href=" " mce_href="#" onclick="UpdateKPI(\'' + row.autoid + '\',\'' + row.cur_flag + '\')">' + row.KPI + '</ a> '
        }

        function test1() {
            //alert(1)
            /*var totals = $("#totals").text() == '-' ? 0 : $("#totals").text();
            var total = 0;
            total= $("#total").text() == '-' ? 0 : $("#total").text();
            if (total == null || total == 0) {
                for (var i = 0; i < dataimp.length; i++) {
                    total += dataimp[i].Assessor1 * dataimp[i].Weight / 100
                }
            }
            var results = Number(totals) + Number(total);*/
        }

        function test2() {
            //$("#update" + 1).attr("onclick", null)
            $("#update" + 1).removeAttr("onclick")
        }

        $(function () {
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello 渣渣婷!',
                    items: [
                        {
                            month: 8,
                            other: 0,
                            money: 50
                        }
                    ]
                },
                methods: {
                    setItems: function () {
                        var pre = this.items[this.items.length - 1];
                        var temp = {
                            month: 0,
                            other: 0,
                            money: 0
                        };
                        temp.month = pre.month == 12 ? 1 : pre.month + 1;
                        temp.money = temp.month == 8 || temp.month == 11 || temp.month == 2 || temp.month == 5 ? pre.money + 8 : pre.money + 17
                        this.items.push(temp)
                    },
                    changeItems: function () {

                    }
                }
            });
        })
    </script>
</head>
<body>
<div id="app">
    <div>
        <a id="update1" onclick="test1()">测试</a>
        <a id="update2" onclick="test2()">测试</a>
    </div>
    <!--<div id="music163player">
        <iframe allowNetworking="all" frameborder="no" border="0" marginwidth="0" marginheight="0" width=300 height=50
                src="http://t.cn/AiRp1K80?mp3"></iframe>
        <iframe allowNetworking="all" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="https://music.163.com/outchain/player?type=2&id=167873&auto=1&height=66"></iframe>
    </div>-->
    <p>{{message}}</p>
    <button @click="setItems">下一个</button>
    <table border="1px">
        <tr>
            <td>月份</td>
            <td>额外支出</td>
            <td>结果</td>
        </tr>
        <tr v-for="item in items">
            <td>{{item.month}}</td>
            <td><input @change="changeItems" v-model="item.other"></td>
            <td>{{item.money}}</td>
        </tr>
    </table>
</div>

</body>
</html>