<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.City">
        <result column="id" property="id"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_name" property="cityName"/>
        <result column="description" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, province_id, city_name, description
	</sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from city
        where id = #{id}
    </select>

    <select id="findCity" resultMap="BaseResultMap" parameterType="com.example.demo.entity.City">
        select
        <include refid="Base_Column_List"/>
        from city
        where 1=1
        <if test="city.nameList != null and city.nameList.size > 0">
            and city_name in
            <foreach collection="city.nameList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="findAllCity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from city
    </select>

    <select id="findByGroup" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from city
        where id = 0
        <if test='vo.cityName != null and vo.cityName != "" and vo.cityName == "1"'>
            group by province_id
        </if>
    </select>

    <delete id="deleteCityById">
        delete from city where id = #{id}
    </delete>

    <insert id="insert10000" parameterType="com.example.demo.entity.City">
        INSERT INTO city (id, province_id, city_name, description, line_number, create_time)
        VALUES
        <foreach collection="list" item="city" separator=",">
            (null,#{city.provinceId},#{city.cityName},#{city.description},null,#{city.createTime})
        </foreach>
    </insert>

    <insert id="insertCity" parameterType="com.example.demo.entity.City">
        insert into city(province_id,city_name)
        values(#{city.provinceId},#{city.cityName})
    </insert>

    <select id="findByidFenYe" resultMap="BaseResultMap">
        select province_id, city_name from city limit #{qian},#{ho}
    </select>

</mapper>
